﻿

<div class="row">
	<div class="col-md-12">
		<div *ngIf="message" [ngClass]="{ 'alert': message, 'alert-success': message.type === 'success', 'alert-danger': message.type === 'error' }" >
			<button type="button" class="close" data-dismiss="alert" data-auto-dismiss="2000" aria-hidden="true" (click)="message=null">×</button>
			{{message.text}}
		</div>
	</div>
</div>