<app-loading *ngIf="loading"></app-loading>
<div class="normalheader transition animated fadeIn">
	<div class="hpanel">
		<div class="panel-body">
			<div id="hbreadcrumb" class="pull-right m-t-lg">
				<ol class="hbreadcrumb breadcrumb">
					<li>
						<a routerLink="/">inicio</a>
					</li>
					<li class="active">
						<span>Empleados</span>
					</li>
				</ol>
			</div>
			<h1 class="font-light m-b-xs">
				Empleados
			</h1>
			<small>Sed porttitor lectus nibh. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.</small>
		</div>
	</div>
</div>


<div class="content animate-panel">
	<div class="row">
		<div class="col-lg-12">
			<div class="hpanel panel-collapse">
				<div class="panel-heading">
					Crear Empleados
				</div>
				<div class="panel-body">
					<div class="hpanel hgreen contact-panel">
						<div class="panel-body">
							<div class="row">
								<div class="col-md-4 col-md-offset-4">
									<div class="form-group">
										<label for="empActivo">Activo</label>
										<input type="checkbox" class="form-control" name="empActivo"
											[(ngModel)]="newEmpleado.empActivo" />
									</div>
									<div class="form-group">
										<label for="empApellidos">Apellidos</label>
										<input type="text" class="form-control" placeholder="Apellidos del empleado" name="empApellidos"
											[(ngModel)]="newEmpleado.empApellidos" />
									</div>
									<div class="form-group">
										<label for="empNombre">Nombres</label>
										<input type="text" class="form-control" placeholder="Nombres del empleado" name="empNombre"
											[(ngModel)]="newEmpleado.empNombre" />
									</div>
									<div class="form-group">
										<label for="empNumeroDocumento">Número de documento</label>
										<input type="number" class="form-control" placeholder="Número de documento del empleado" name="empNumeroDocumento"
											[(ngModel)]="newEmpleado.empNumeroDocumento" />
									</div>
									<div class="form-group">
										<label for="empCorreo">Correo electrónico</label>
										<input type="email" class="form-control" placeholder="Correo electrónico del empleado" name="empCorreo"
											[(ngModel)]="newEmpleado.empCorreo" />
									</div>
									<div class="form-group">
										<label for="empTelefono">Teléfono</label>
										<input type="number" class="form-control" placeholder="Teléfono del empleado" name="empTelefono"
											[(ngModel)]="newEmpleado.empTelefono" />
									</div>
									<div class="form-group">
										<label for="empSalario">Salário</label>
										<input type="number" class="form-control" placeholder="Salário del empleado" name="empSalario"
											[(ngModel)]="newEmpleado.empSalario" />
									</div>
									<div class="form-group">
										<label for="empDepartamento">Departamento</label>
										<select class="form-control" name="empDepartamento" [(ngModel)]="newEmpleado.empDepartamento">
											<option value="">Seleccione una opción...</option>
											<ng-template ngFor let-item [ngForOf]="listDepartamento" let-i="index">
												<option [ngValue]="item">{{item.depCodigo}} - {{item.depNombre}}</option>
											</ng-template>
										</select>
									</div>
								</div>
							</div>
						</div>
						<br>
						<div class="">
							<div class="row">
								<div class="col-md-4 col-md-offset-4">
									<button [disabled]="loading" class="btn btn-primary btn-block" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#sub_modal_add">Crear</button>
								</div>
							</div>
						</div>
        			</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="content animate-panel">
	<div class="row">
		<div class="col-lg-12">
			<div class="hpanel panel-collapse">
				<div class="panel-heading">
					Listado de Empleados
				</div>
				<div class="panel-body">
					<div class="hpanel hgreen contact-panel">
						<div class="panel-body table-responsive">
							<table id="list-subaccount" class="table table-striped table-bordered table-hover text-center" width="100%">
								<thead>
									<tr>
										<th>Activo</th>
										<th>Apellidos</th>
										<th>Nombres</th>
										<th>Núm. documento</th>
										<th>Correo</th>
										<th>Teléfono</th>
										<th>Salario</th>
										<th>Departamento</th>
										<th>Acciones</th>
									</tr>
								</thead>
								<tbody>
									<ng-template ngFor let-item [ngForOf]="listEmpleado" let-i="index">
										<tr>
											<td>
												{{item.empActivo}}
											</td>
											<td>
												{{item.empApellidos}}
											</td>
											<td>
												{{item.empNombre}}
											</td>
											<td>
												{{item.empNumeroDocumento}}
											</td>
											<td>
												{{item.empCorreo}}
											</td>
											<td>
												{{item.empTelefono}}
											</td>
											<td>
												{{item.empSalario}}
											</td>
											<td>
												{{item.empDepartamento.depNombre}}
											</td>
											<td>
												<button class="btn btn-warning2" type="button" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#sub_modal_edit" (click)="assignObj(item)">
													<i class="fa fa-edit"></i>
												</button>
											</td>
										</tr>
									</ng-template>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="modal fade hmodal-success" id="sub_modal_add" tabindex="-1" role="dialog"  aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="color-line"></div>
			<div class="modal-header text-center">
				<h4 class="modal-title">Crear empleado</h4>
				<small class="font-bold">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small>
			</div>
			<div class="modal-body text-center">
				<div class="panel-body" *ngIf="validateEmpleado(newEmpleado); then thenBlockAdd; else elseBlockAdd"></div>
		    <ng-template #thenBlockAdd>
		    	<p>Estas a punto de crear la empleado: <strong>{{newEmpleado.empNombre}} - {{newEmpleado.empApellidos}}</strong></p>
		    </ng-template>
		    <ng-template #elseBlockAdd>
		    	<p>No has ingresado todos los datos de la empleado.</p>
		  	</ng-template>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
				<button *ngIf="validateEmpleado(newEmpleado)" type="button" class="btn btn-primary" (click)="addEmpleado()" data-dismiss="modal">Crear</button>
			</div>
		</div>
	</div>
</div>


<div class="modal fade hmodal-warning" id="sub_modal_edit" tabindex="-1" role="dialog"  aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="color-line"></div>
			<div class="modal-header text-center">
				<h4 class="modal-title">Editar empleado</h4>
				<small class="font-bold">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small>
			</div>
			<div class="modal-body">
				<div class="panel-body" *ngIf="empleadoSelected">

					<form class="form-horizontal">
						<div class="form-group">
							<label for="empActivo">Activo</label>
							<input type="checkbox" class="form-control" name="empActivo"
								[(ngModel)]="empleadoSelected.empActivo" />
						</div>
						<div class="form-group">
							<label for="empApellidos">Apellidos</label>
							<input type="text" class="form-control" placeholder="Apellidos del empleado" name="empApellidos"
								[(ngModel)]="empleadoSelected.empApellidos" />
						</div>
						<div class="form-group">
							<label for="empNombre">Nombres</label>
							<input type="text" class="form-control" placeholder="Nombres del empleado" name="empNombre"
								[(ngModel)]="empleadoSelected.empNombre" />
						</div>
						<div class="form-group">
							<label for="empNumeroDocumento">Número de documento</label>
							<input type="number" class="form-control" placeholder="Número de documento del empleado" name="empNumeroDocumento"
								[(ngModel)]="empleadoSelected.empNumeroDocumento" readonly/>
						</div>
						<div class="form-group">
							<label for="empCorreo">Correo electrónico</label>
							<input type="email" class="form-control" placeholder="Correo electrónico del empleado" name="empCorreo"
								[(ngModel)]="empleadoSelected.empCorreo" />
						</div>
						<div class="form-group">
							<label for="empTelefono">Teléfono</label>
							<input type="number" class="form-control" placeholder="Teléfono del empleado" name="empTelefono"
								[(ngModel)]="empleadoSelected.empTelefono" />
						</div>
						<div class="form-group">
							<label for="empSalario">Salário</label>
							<input type="number" class="form-control" placeholder="Salário del empleado" name="empSalario"
								[(ngModel)]="empleadoSelected.empSalario" />
						</div>
						<div class="form-group">
							<label for="empDepartamento">Departamento</label>
							<select class="form-control" name="empDepartamento" 
								[(ngModel)]="empleadoSelected.empDepartamento.depCodigo" 
								(change)="filterChanged($event)">
								<ng-template ngFor let-item [ngForOf]="listDepartamento" let-i="index">
									<option [ngValue]="item.depCodigo" >{{item.depCodigo}} - {{item.depNombre}}</option>
								</ng-template>
							</select>
						</div>
					</form>
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
				<button *ngIf="validateEmpleado(empleadoSelected)" type="button" class="btn btn-warning2" (click)="editEmpleado()" data-dismiss="modal">Guardar</button>
			</div>
		</div>
	</div>
</div>
