<!-- Simple splash screen-->
<div class="splash">
	<div class="splash-title">
		<h1>{{appName2}}</h1>
		<p>Cargando ...</p>
		<div class="spinner">
			<div class="rect1"></div>
			<div class="rect2"></div>
			<div class="rect3"></div>
			<div class="rect4"></div>
			<div class="rect5"></div>
		</div>
	</div>
</div>
