﻿
<alert></alert>
<app-navigation></app-navigation>

<!-- Main Wrapper -->
<div id="wrapper" [ngClass]="{'wrapper':haveWrapper}">

    <div class="">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center">
        <p>
            <a href="#" target="_top">TCS-Web</a>
        </p>
        <small>Copyright © 2020</small>
    </div>
    <br/>

</div>
