<app-loading *ngIf="loading"></app-loading>
<div class="normalheader transition animated fadeIn">
	<div class="hpanel">
		<div class="panel-body">
			<div id="hbreadcrumb" class="pull-right m-t-lg">
				<ol class="hbreadcrumb breadcrumb">
					<li>
						<a routerLink="/">inicio</a>
					</li>
					<li class="active">
						<span>Departamentos</span>
					</li>
				</ol>
			</div>
			<h1 class="font-light m-b-xs">
				Departamentos
			</h1>
			<small>Sed porttitor lectus nibh. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.</small>
		</div>
	</div>
</div>

<div class="content animate-panel list-cost-center">
	<div class="row">
		<div class="col-lg-12">
			<div class="hpanel">
				<div class="panel-body table-responsive">
					<table id="list-cost-center" class="table table-striped table-bordered table-hover text-center" width="100%">
						<thead>
							<tr>
								<th>Código</th>
								<th>Nombre</th>
								<th>Promedio de Salarios</th>
								<th>Descripción</th>
							</tr>
						</thead>
						<tbody>
							<ng-template ngFor let-item [ngForOf]="listDepartamento" let-i="index">
								<tr>
									<td>
										{{item.departamento.depCodigo}}
									</td>
									<td>
										{{item.departamento.depNombre}}
									</td>
									<td>
										{{item.promedio | currency}}
									</td>
									<td>
										{{item.departamento.depDescripcion}}
									</td>
								</tr>
							</ng-template>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

