@import "assets/vendor/fontawesome/css/font-awesome.css";
@import "assets/vendor/metisMenu/dist/metisMenu.css";
@import "assets/vendor/animate.css/animate.css";
@import "assets/vendor/bootstrap/dist/css/bootstrap.css";
@import "assets/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css";
@import "assets/fonts/pe-icon-7-stroke/css/helper.css";
@import "assets/vendor/datatables.net-bs/css/dataTables.bootstrap.min.css";

@import "assets/style.css";

/*
COLOR PRIMARY 1: 		#051c48
COLOR PRIMARY 1 light: 	#051c48f0

COLOR PRIMARY 2: 		#1fcfcc
COLOR PRIMARY 2 light: 	#1fcfcc52

COLOR PRIMARY 3: 		#fe6b0c
COLOR PRIMARY 3 light: 	#051c48
*/

h1 {
	font-size: 2em !important;
}

.wrapper{
	background-color: #1fcfcc52 !important;
}

.btn-primary {
    background-color: #051c48 !important;
    border-color: #051c48 !important;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #051c48f0 !important;
    border-color: #051c48f0 !important;
}