<!-- Header -->
<div id="header">
  <div class="color-line"></div>
  <div id="logo" class="light-version">
    <span routerLink="/">
      TCS
    </span>
  </div>
  <nav role="navigation">
    <div class="header-link hide-menu"><i class="fa fa-bars"></i></div>
    <div class="small-logo">
      <span class="text-primary" routerLink="/">TCS</span>
    </div>
  </nav>
</div>

<!-- Navigation -->
<aside id="menu">
  <div id="navigation">
    <ul class="nav" id="side-menu">
      <li>
        <a routerLink="departamento">
          <span class="fa fa-th-large icon-menu"></span>
          <span class="nav-label">Deptos</span>
        </a>
      </li>
      <li>
        <a routerLink="funcion">
          <span class="fa fa-th icon-menu"></span>
          <span class="nav-label">Funciones</span>
        </a>
      </li>
      <li>
        <a routerLink="empleado">
          <span class="fa fa-th-list icon-menu"></span>
          <span class="nav-label">Empleados</span>
        </a>
      </li>
    </ul>
  </div>
</aside>